DB_PASSWORD=
DB_USER=COSTUMER
DB_NAME=EUROROUTE_DB
DB_HOST=db
DB_CONNECTION_STRING=Host=db;Database=CARGOLANE_DB;Username=COSTUMER;Password=

Jwt__SecretKey=
Jwt__Issuer=CargoLaneApi
Jwt__Audience=CargoLaneClient
Jwt__ExpiryMinutes=60

Admin__Login=
Admin__Name=Support
Admin__Email=CargoLane@gmail.com
Admin__Surname=Support
Admin__Password=
Admin__PasswordTrue=


EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SENDER_NAME="CargoLane Team"
EMAIL_SENDER_EMAIL=""
EMAIL_USERNAME=""
EMAIL_PASSWORD=""